@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


h1 {font-family: 'Poppins', sans-serif;
text-align: center;
font-size: 50px;
text-shadow: 0 0 5px rgba(19, 3, 243, 0.991), 0 0 10px rgb(19, 3, 243, 0.991),
  0 0 20px rgb(19, 3, 243, 0.991), 0 0 40px rgb(19, 3, 243, 0.991),
  0 0 80px rgba(19, 3, 243, 0.991);
}
body {
background-color: black;


}
h3 {
  font-family: 'Poppins', sans-serif;
  text-shadow: 0 0 5px rgba(3, 163, 243, 0.991), 0 0 10px rgb(3, 163, 243, 0.991),
  0 0 20px rgb(3, 163, 243, 0.991), 0 0 40px rgb(3, 163, 243, 0.991),
  0 0 80px rgba(3, 163, 243, 0.991);





}

span {
color: red;
font-size: 50px;

}



ul li {
  color: white;
  font-size: 30px;
}
